@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 36, 36, 36;
  --background-end-rgb: 255, 255, 255;
}
@layer components{
  .heroButton{
    @apply px-6 py-2 border-[#242424] rounded-full uppercase text-sm
    tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
  }
  .contactInput{
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-50 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 36, 36, 36;
    --background-end-rgb: 36, 36, 36;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb))
    
}
.hackthebox {
  background-image: url("https://www.hackthebox.com/images/landingv3/favicon.png");
}